# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and outputs
data/
outputs/
models/
logs/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
.env
.envrc

# Kaggle token
kaggle.json
